# Web Framework
fastapi
uvicorn[standard]
python-multipart

# Environment
python-dotenv

# AI / LLM
groq
google-genai
langchain-google-genai
langchain-groq
langchain-core

# Agentic Framework
langgraph

# Web Search
tavily-python

# Embeddings & Vector DB
sentence-transformers
chromadb

# Document Parsing
unstructured[pdf]
pymupdf
pypdf

# Text Splitting
langchain-text-splitters

# Retry Logic
tenacity